body {
    
    background-image: linear-gradient(white, pink);
}

.nav-link:hover {
    background-color: #d8bdbd;
}

.nav-space {
    margin-top: 10px;
}

.site-title {
    font-weight: 900;
    font-size: 24px;
}

.btn-push-top-10 {
    margin-top: 10px;
}

.footer-space {
    margin-bottom: 100px;
}
